<svg data-v-ce3f847a="" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
  <g data-v-ce3f847a="" transform="translate(-79,51)rotate(0)scale(1)">
    <g data-v-ce3f847a="" transform="translate(524,643)rotate(0)scale(1)">
      <g data-v-ce3f847a="" class="">
        <g data-v-ce3f847a="" transform="translate(0,0)rotate(0) scale(1) translate(0,0)">
          <device-monitor-panel
            data-v-ce3f847a=""
            Ua="234.9"
            Ub="234.9"
            Uc="234.7"
            Ia="691.2"
            Ib="668.8"
            Ic="645.6"
            P="444.3"
            Q="123"
            S="474"
            Fq="49.94"
            COS="0.94"
            Epr="15239322"
            fontFamily="Microsoft YaHei"
            fontSize="14"
            color="#FFFFFF"
            backgroundColor="#000000"
            width="100"
            height="100"
            id="device-monitor-panelosTnfGgTyc"
            transform="translate(0,0) scale(1,1) translate(0,0)"
          ></device-monitor-panel>
        </g>
      </g>
    </g>
    <g data-v-ce3f847a="" transform="translate(678,677)rotate(0)scale(1)">
      <g data-v-ce3f847a="" class="">
        <g data-v-ce3f847a="" transform="translate(0,0)rotate(0) scale(1) translate(0,0)">
          <device-monitor-panel
            data-v-ce3f847a=""
            Ua="234.9"
            Ub="234.9"
            Uc="234.7"
            Ia="691.2"
            Ib="668.8"
            Ic="645.6"
            P="444.3"
            Q="123"
            S="474"
            Fq="49.94"
            COS="0.94"
            Epr="15239322"
            fontFamily="Microsoft YaHei"
            fontSize="14"
            color="#FFFFFF"
            backgroundColor="#000000"
            width="100"
            height="100"
            id="device-monitor-panelCXP3D2kpNS"
            transform="translate(0,0) scale(1,1) translate(0,0)"
          ></device-monitor-panel>
        </g>
      </g>
    </g>
    <g data-v-ce3f847a="" transform="translate(730,548)rotate(0)scale(1)">
      <g data-v-ce3f847a="" class="">
        <g data-v-ce3f847a="" transform="translate(50,50)rotate(0) scale(1) translate(-50,-50)">
          <g data-v-ce3f847a="">
            <path
              id="straight-linelEewNziN0a"
              d="M 50 50"
              fill="none"
              stroke="#ff0000"
              stroke-width="2"
              stroke-dashoffset="0"
              stroke-dasharray="0"
              style="cursor: move"
            >
              <!--v-if-->
            </path>
            <!-- 水珠 --><!--v-if--><!-- 更改线段 --><!--v-if-->
          </g>
        </g>
      </g>
    </g>
    <g data-v-ce3f847a="" transform="translate(1163.0884437561035,597)rotate(0)scale(1)">
      <g data-v-ce3f847a="" class="">
        <g data-v-ce3f847a="" transform="translate(50,50)rotate(0) scale(1) translate(-50,-50)">
          <g data-v-ce3f847a="">
            <path
              id="straight-line88hVRVU9z9"
              d="M 50 50 L 50 50"
              fill="none"
              stroke="#ff0000"
              stroke-width="2"
              stroke-dashoffset="0"
              stroke-dasharray="0"
              style="cursor: move"
            >
              <!--v-if-->
            </path>
            <!-- 水珠 --><!--v-if--><!-- 更改线段 --><!--v-if-->
          </g>
        </g>
      </g>
    </g>
    <g data-v-ce3f847a="" transform="translate(1193,365.80876541137695)rotate(0)scale(1)">
      <g data-v-ce3f847a="" class="">
        <g data-v-ce3f847a="" transform="translate(50,50)rotate(0) scale(1) translate(-50,-50)">
          <g data-v-ce3f847a="">
            <path
              id="straight-linecKsTEA2Isi"
              d="M 50 50 L 50 50"
              fill="none"
              stroke="#ff0000"
              stroke-width="2"
              stroke-dashoffset="0"
              stroke-dasharray="0"
              style="cursor: move"
            >
              <!--v-if-->
            </path>
            <!-- 水珠 --><!--v-if--><!-- 更改线段 --><!--v-if-->
          </g>
        </g>
      </g>
    </g>
    <g data-v-ce3f847a="" transform="translate(1193,365.80876541137695)rotate(0)scale(1)">
      <g data-v-ce3f847a="" class="">
        <g data-v-ce3f847a="" transform="translate(50,50)rotate(0) scale(1) translate(-50,-50)">
          <g data-v-ce3f847a="">
            <path
              id="straight-linezxH4YkQ9pH"
              d="M 50 50 L 50 50"
              fill="none"
              stroke="#ff0000"
              stroke-width="2"
              stroke-dashoffset="0"
              stroke-dasharray="0"
              style="cursor: move"
            >
              <!--v-if-->
            </path>
            <!-- 水珠 --><!--v-if--><!-- 更改线段 --><!--v-if-->
          </g>
        </g>
      </g>
    </g>
    <g data-v-ce3f847a="" transform="translate(500,391)rotate(0)scale(1)">
      <g data-v-ce3f847a="" class="">
        <g data-v-ce3f847a="" transform="translate(99,49)rotate(0) scale(1) translate(-99,-49)">
          <svg
            data-v-4d43959a=""
            data-v-ce3f847a=""
            width="100"
            height="100"
            id="custom-svg-textVNj4LgE8li"
            transform="translate(99,49) scale(1,1) translate(-99,-49)"
          >
            <!-- text1 元素 -->
            <text
              data-v-4d43959a=""
              x="60"
              y="55"
              font-family="Microsoft YaHei"
              font-size="15"
              fill="#FFF200FF"
            >
              Ua
            </text>
            <!-- 包含边框的 text2 元素 -->
            <g data-v-4d43959a="">
              <rect
                data-v-4d43959a=""
                x="86"
                y="36"
                width="175.15625"
                height="26"
                fill="none"
                stroke="#FFFFFF"
                stroke-width="0.5"
              ></rect>
              <text
                data-v-4d43959a=""
                x="90"
                y="55"
                font-family="Microsoft YaHei"
                font-size="15"
                fill="#FFF200FF"
              >
                <!-- {{ props.value }} -->
                输入框11111111111111
              </text>
            </g>
          </svg>
        </g>
      </g>
    </g>
    <g data-v-ce3f847a="" transform="translate(617,542)rotate(0)scale(1)">
      <g data-v-ce3f847a="" class="">
        <g data-v-ce3f847a="" transform="translate(99,49)rotate(0) scale(1) translate(-99,-49)">
          <svg
            data-v-4d43959a=""
            data-v-ce3f847a=""
            width="100"
            height="100"
            id="custom-svg-text5Rb8jDDF1p"
            transform="translate(99,49) scale(1,1) translate(-99,-49)"
          >
            <!-- text1 元素 -->
            <text
              data-v-4d43959a=""
              x="60"
              y="55"
              font-family="Microsoft YaHei"
              font-size="15"
              fill="#FFF200FF"
            >
              Ua
            </text>
            <!-- 包含边框的 text2 元素 -->
            <g data-v-4d43959a="">
              <rect
                data-v-4d43959a=""
                x="86"
                y="36"
                width="52"
                height="26"
                fill="none"
                stroke="#FFFFFF"
                stroke-width="0.5"
              ></rect>
              <text
                data-v-4d43959a=""
                x="90"
                y="55"
                font-family="Microsoft YaHei"
                font-size="15"
                fill="#FFF200FF"
              >
                <!-- {{ props.value }} -->
                输入框
              </text>
            </g>
          </svg>
        </g>
      </g>
    </g>
    <g data-v-ce3f847a="" transform="translate(580,309)rotate(0)scale(1)">
      <g data-v-ce3f847a="" class="">
        <g data-v-ce3f847a="" transform="translate(50,50)rotate(0) scale(1) translate(-50,-50)">
          <use
            data-v-ce3f847a=""
            xlink:href="#svg-prohibit"
            fill="#ff0000"
            voltage="1000/800kv"
            width="100"
            height="100"
            id="prohibitfiZcrFZCPq"
            transform="translate(50,50) scale(1,1) translate(-50,-50)"
          ></use>
        </g>
      </g>
    </g>
  </g>
</svg>
